* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  text-align: center;
  display: grid;
  gap: 4px;
  grid-template-rows: min-content min-content 4fr min-content;
  grid-template-columns: 1fr 4fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  justify-self: left;
  align-self: center;
}

.menu {
  align-self: center;
  justify-self: right;
  width: 100%;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-content: space-evenly;
  white-space: nowrap;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2 / 1 / 4 / 2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  align-content: center;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / 3 / 3;;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.nav ul, li {
  display:flex;
  justify-content: space-around;
}

.article {
  background-color: #bccbde;
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 5 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}